.DS_Store

DGDownloadManager/Pods/Pods.xcodeproj/*
!DGDownloadManager/Pods/Pods.xcodeproj/project.pbxproj


DGDownloadManager/DGDownloadManager.xcodeproj/*
!DGDownloadManager/DGDownloadManager.xcodeproj/project.pbxproj

DGDownloadManager/DGDownloadManager.xcworkspace/*
!DGDownloadManager/DGDownloadManager.xcworkspace/contents.xcworkspacedata
