.DS_Store

Example/Pods/*
!Example/Pods/Pods.xcodeproj/project.pbxproj


Example/DGDownloadManager.xcodeproj/*
!Example/DGDownloadManager.xcodeproj/project.pbxproj

Example/DGDownloadManager.xcworkspace/*
!Example/DGDownloadManager.xcworkspace/contents.xcworkspacedata
