.DS_Store

DGownloadManager/Pods/Pods.xcodeproj/*
!DGownloadManager/Pods/Pods.xcodeproj/project.pbxproj


DGownloadManager/DGownloadManager.xcodeproj/*
!DGownloadManager/DGownloadManager.xcodeproj/project.pbxproj

DGownloadManager/DGownloadManager.xcworkspace/*
!DGownloadManager/DGownloadManager.xcworkspace/contents.xcworkspacedata
